* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */

  font-family: "Roboto Mono", monospace;
  font-size: 22px;
}
body {
  width: 100%;
  min-width: 26cm;
  margin: 1cm auto;
}
#header {
  display: grid;
  grid-template-columns: 1fr 3fr;

  padding-bottom: 50px;
}
p {
  font-style: normal;
  text-decoration: none;
  color: #000;
}
#logo {
  width: 270px;
}
img {
  display: flex;
  width: 100%;
}
#address {
  display: flex;
  place-self: center;
}
#info-1 {
  border-block: 1px solid gray;
}
#vehicle {
  padding-block: 50px;
}
h1 {
  font-size: 60px;
  text-align: center;
}
.grid {
  display: flex;

  justify-content: space-between;

  padding-bottom: 50px;
}
.semibold {
  font-weight: 700;
}
#optionals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 50px; */
  column-gap: 30px;
  row-gap: 6px;
  width: 70%;
  margin: auto;
  padding-block: 50px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: black;
}
#optionals > div {
  display: inline-flex;
  gap: 10px;
  place-items: center;
}
label {
  font-size: 16px;
}
#price {
  padding-block: 50px;
  border-top: 1px solid gray;
}

#buttons {
  display: flex;
  gap: 2.8rem;
  justify-content: space-evenly;

  margin: 4rem;
}
button {
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;

  font-size: 1.4rem;

  border: 2px solid #c2c2c2;

  transition: 0.5s;
}

button:hover {
  /* background-color: #c2c2c2; */
  cursor: pointer;
  border: 2px solid black;
}

span[contenteditable] {
  outline: 1px solid red;
}
h1[contenteditable] {
  outline: 1px solid red;
}
@media print {
  input,
  input + label {
    display: none;
    /* visibility: hidden; */
  }
  input[type="checkbox"]:checked,
  input[type="checkbox"]:checked + label {
    display: inline-block;
    /* visibility: visible; */
  }

  button {
    display: none;
  }
  span[contenteditable] {
    outline: none;
  }
  h1[contenteditable] {
    outline: none;
  }
}
